<html
    lang="en"
    class="bg-stone-900 h-full overflow-hidden"
>
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1"
        />
        <title>Kris Jenkinson - Cinematographer</title>
        <meta
            name="description"
            content="Freelance cinematographer based in Adelaide, Australia."
        />
        <link
            rel="stylesheet"
            href="/src/app.css"
        />
    </head>
    <body class="flex flex-col justify-center h-full overflow-hidden">
        <slot />
    </body>
</html>
