@tailwind base;
@tailwind components;

.bgd-rotator {
    position: absolute;
    top: -50%;
    left: -50%;
    right: 0;
    bottom: 0;
    height: 200%;
    width: 200%;
    background-image: url('/gggyrate.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation: spin 300s linear infinite;
    overflow: hidden;
    z-index: -1;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@tailwind utilities;
